html{
    font-family: 'Exo 2', sans-serif;
}
header{
    background-color: black;
}
.logo{
    display: block;
    width: 140px;
    height: 80px;
    margin: 10px;
    transition: transform 0.3s ease;
}
.logo:hover{
    transform:scale(1.2);
}

header nav{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
header nav a:hover{
    color: #03A0F8;
}
a{
    text-decoration: none;
    color: white;
}
.Engagezmoi{
    background-color: white;
    padding: 0.6rem 1rem;
    color: black;
    border: none;
    border-radius: 20px;
}
.Engagezmoi:hover{
    color: #03A0F8;
}
.S1{
    background-color: #001A2D;
    color: white;
    box-sizing: border-box;
    padding: 0 20px 20px 45px; 
    display: flex;
    justify-content: space-between; 
}
.S1 h2{
    font-size: 2rem;
    color: #03A0F8;
}
.S1 h2 span{
    color: white;
}
.S1 h1{
    font-size: 3rem;
    font-weight: bold;
}
.S1 i{
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: solid 1mm;
    border-radius: 100%;
    padding: 10px;
}
.fa-brands fa-facebook-f{
    font-size: 0px;
}
.A11{
    
    margin-left: 100px;
    margin-right: 50px;
}
.A12{
    margin-right: 100px;
}
.reseaux{
    border: white;
}
.CV{
    background-color: #03A0F8;
    padding: 0.6rem 1rem;
    color:white;
    border: none;
    border-radius: 20px;
}
.CV:hover{
    color: black;
    background-color: white;
}
.S2{
    background-color: #060018;
    color: white;
    margin-top: -3%;
}
.S2 h2{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
.S2 h2 span{
    color: #03A0F8;
}
.DS2{
    box-sizing: border-box;
    padding: 0 20px 20px 45px; 
    display: flex;
    justify-content: space-between; 
}
.A22 h3{
    font-size: 2rem;
    font-weight: bold;
}
.A22{
    margin: 150px;
    margin-top: 50px;
}
.Ensavoirplus{
    background-color: #ffffff;
    padding: 0.6rem 1rem;
    color:rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
}
.Ensavoirplus:hover{
    color: #03A0F8;
}
.S3{
    background-color: #001A2D;
    color: white;
    margin-top: -5%;
    height: 600px;
}
.S3 h2{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
.S3 h2 span{
    color: #03A0F8;
}
.DS3{
    box-sizing: border-box;
    padding: 0 20px 20px 45px; 
    display: flex;
    justify-content: space-between;
}
.DS3 h3{
    font-size: 30px;
    font-weight: bolder;
}
.DS3 i{
    font-size: 100px;
    margin-top: 30px;
}
.DS3 p{
    margin: 30px;
    font-weight: border;
}
.A31{
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
.A32{
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
.A33{
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
.S4 {
    text-align: center;
    background-color: #060018;
    margin-top: -4%;
    height: 700px;
  }
  
.S4 .images {
    /* Règles pour le conteneur lui-même */
    max-width: 1000rem;
    margin-left: auto;
    margin-right: auto;


    
    /* Règles de disposition des 8 images du conteneur */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
  
.S4 .images a {
    position: relative;
    color: white;
    line-height: 0;
  }
  
  /* Ce <span> correspond à l'effet bleu transparent
    que l'on souhaite lors du :hover.
    Par défaut, il est invisible avec une opacité de 0 */
.S4 .images a > span {
    opacity: 0; /* Invisible par défaut */
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    background-color: rgba(106, 165, 255, 0.7);
    border-radius: 10px;
    transition: all 300ms;
}
  
.S4 .images a:hover > span {
    /* Visible */
    opacity: 1;
}
  
.S4 .images a > img {
    border-radius: 10px;
}
.S4 h2{
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    font-size: 50px;
}
.S5{
    background-color: #001A2D;
    color: white;
    margin-top: -4%;
}
.S5 h2{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
.DS5{
    box-sizing: border-box;
    padding: 0 20px 20px 45px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.A51{
    margin-left: 200px;
    width: 100px;
    flex: 1; 
    padding: 10px;
} 
.A52{
    margin-right: 130px;
    text-align: left;
    width: 300px;
    flex: 2; 
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}
.prenom, .mail, .message, .envoyer{
    background-color: #36516A;
    width: 100%;
    border: none;
    margin: 10px;
    margin-right: 100px;
    border-radius: 10rem;
    height: 30px;
    color: #ffffff;
}

.num ,.objet {
    background-color: #36516A;
    border: none;
    width: 246px;
    margin: 10px;
    border-radius: 10rem;
    height: 30px;
    color: #ffffff;
}
.message{
    width: 100%;
    height: 100px; /* Ajustez la hauteur selon vos besoins */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    text-align: initial;
}
.envoyer{
    width: 520px;
}
.prenom::placeholder{
    color: #ffffff; 
}
.mail::placeholder{
    color: #ffffff;
}
.num::placeholder{
    color: #ffffff;
}
.objet::placeholder{
    color: #ffffff;
}
.message::placeholder{
    color: #ffffff;
}
.envoyer:hover{
    color: #36516A;
    background-color: white;
}
.voisin {
    display: flex;
    flex-direction: row;
}

footer{
    background-color: #060018;
    color: aliceblue;
    width: 100%;
    height: 90px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
